* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: rgb(37, 37, 37);
  color: rgb(221, 235, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
